@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@300&display=swap');

$fontMain:'Merriweather', serif;
$fontSecondary:'Work Sans', sans-serif;

// variables para los textos
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;